.solar, .watch{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    color: #311c14;
    text-decoration: none;
}

.solar{
    margin: -20px;
    letter-spacing: 5px;
}

.watch{
    margin-top: -26px;
    letter-spacing: -2px;
}

.main-container{
    padding: 20px;
    margin-top: 20px;
    display: block;
    justify-content: center; /*distribution of space between elements*/
    align-items: center;
    background-image: url('../../../public/images/main_picture_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    width: 500px;
    height: 700px;
    border-radius: 50px;
}

.main-message-1 {
    display: flex; /*flexbox arrangement*/
    justify-content: center; /*distribution of space between elements*/
    align-items: center;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
}

.main-message-2 {
    display: flex; /*flexbox arrangement*/
    justify-content: center; /*distribution of space between elements*/
    align-items: center;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
}

.welcome-text{
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.solarwatch-container{
    display: block;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    width: 250px;
}

  
.submit-button {
    padding: 0.5rem 1rem;
    margin: auto;
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: #5E6D8C;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .submit-button:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    background-color: #8EA3BF;
  }

  .input-field {
    color: #311c14;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }